@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
    font-family: 'Bergdool';
    src: local("Bergdool"),
         url("./Fuentes/bergdool/Bergdool.ttf")
  }

p {
  font-family:'Open-Sans', sans-serif;
}

h1, h2 {
  font-family: 'Bergdool';
}
